<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta name="description" content=""> -->
    <meta name="author" content="Greg McDonnell">
    <title>{{title}}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {{head}}

    <link rel="stylesheet" href="/style.css" />
    {{style}}
    
</head>

<body>

    <!-- Nav -->
    <nav class="site-nav">
        <a class="nav-home" href="/">Greg McDonnell</a>
        <ul class="nav-links">
            <li><a id="nav-link-project" href="/projects">Projects</a></li>
            <li><a id="nav-link-simulations" href="/simulations">Simulations</a></li>
            <li><a id="nav-link-gallery" href="/gallery">Gallery</a></li>
            <li><a id="nav-link-notes" href="/notes">Notes</a></li>
        </ul>
    </nav>

    {{content}}

    <!-- Footer -->
    <footer class="site-footer">
        <span>© 2026 Gregory McDonnell</span>
        <div class="footer-links">
            <a href="https://github.com/gregmcdonnell/gregmcdonnell.github.io.git" target="_blank">GitHub</a>
            <a href="www.linkedin.com/in/greg-mcdonnell-a62398174" target="_blank">LinkedIn</a>
        </div>
    </footer>

</body>

</html>